@model ApplicationUser
@using CourseProject.DataContext
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext _context



<div class="card-buttons-group">
    <div class="text-end">
        <a asp-controller="Collections" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-primary">
            <i class="bi bi-folder-plus"></i> &nbsp; Add new collection
        </a>
    </div>
</div>


<div style="padding: 10px;"></div>
    <div class="row">
        @foreach (var obj in _context.Collections.Where(c => c.Users.Contains(Model)).Include(c => c.Users).ToList())
        {
            <div class="row row-cols-0 col-md-4 text-center">
                <div class="col" style="padding: 10px;">
                    <div class="card">
                        @if(obj.ImageData != null)
                         {
                             <img style="width:400px; height:300px; margin-left:auto; margin-right:auto;"
                             src="data:image/jpeg;base64,@(Convert.ToBase64String(obj.ImageData))" />
                         }
                         else
                         {
                             <img src="/images/Collections/Empty.png" class="card-img-top" alt="" 
                             style="width:400px; height:300px; margin-left:auto; margin-right:auto;">
                         }
                        <div class="card-body">
                            <h5 class="card-title">@obj.Name</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Theme: @obj.Theme</li>
                            <li class="list-group-item">Description: @obj.Description</li>
                            <li class="list-group-item">Owner: @obj.Owner</li>
                        </ul>
                        <div class="card-body">
                            <a asp-controller="Collections" asp-action="Get" asp-route-id="@obj.CollectionId"
                            class="btn btn-primary mx-2"> <i class="bi bi-folder2-open"></i> Open</a>
                            <a asp-controller="Collections" asp-action="Edit" asp-route-id="@obj.CollectionId"
                            class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                            <a asp-controller="Collections" asp-action="Delete" asp-route-id="@obj.CollectionId"
                            class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
 