@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "List of all users";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>List of all users</h4>
        </p>
        
            <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Created at</th>
                    <th>Last login</th>
                    <th>Status</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>@item.Created_At</td>
                    <td>@item.Last_login</td>
                    <td>@item.Status</td>
                    <td>@item.Role</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            @if (item.Status == "Banned")
                            {
                                @using (Html.BeginForm("Unban", "Users", FormMethod.Post))
                                {
                                    <button class="btn btn-success btn-sm mx-1" type="submit" name="userId" id="userId" value="@item.Id">
                                        <i class="bi bi-pencil-square"></i>
                                        Unban
                                    </button>
                                }
                            }
                            else
                            {
                                @using(Html.BeginForm("Ban", "Users", FormMethod.Post))
                                {
                                    <button class="btn btn-primary btn-sm mx-1" type="submit" name="userId" id="userId" value="@item.Id">
                                        <i class="bi bi-pencil-square"></i>
                                        Ban
                                    </button>
                                }
                            }
                                @using (Html.BeginForm("Delete", "Users", FormMethod.Post))
                            {
                                <button class="btn btn-danger btn-sm mx-1" type="submit" name="userId" id="userId" value="@item.Id">
                                    <i class="bi bi-trash-fill"></i>
                                    Delete
                                </button>
                            }
                            @using (Html.BeginForm("ChangeRole", "Users", FormMethod.Post))
                            {
                                <button class="btn btn-primary btn-sm mx-1" type="submit" name="userId" id="userId" value="@item.Id">
                                    <i class="bi bi-pencil-square"></i>
                                    Change Role
                                </button>
                            }
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>