@model Item
@using CourseProject.DataContext.Repositories
@using Microsoft.AspNetCore.Mvc.Localization
@inject IUnitOfWork _unitOfWork
@inject IViewLocalizer Localizer

<form method="post">
<div class="row">
    <div class="col-md-5 offset-4">
			<h2 class="text-primary">@Localizer["CreateItem"]</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="col-md-5 offset-4">
			<label asp-for="Name">@Localizer["Name"]</label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="col-md-5 offset-4">
			<label asp-for="Tags">@Localizer["Tags"]</label>
            <select asp-for="Tags" class="form-select" multiple>
				@foreach(var tags in await _unitOfWork.Tags.GetAll())
				{

						<option value="@tags.Name">@tags.Name</option>
				}
		    </select>
			<span asp-validation-for="Tags" class="text-danger"></span>
		</div>
		<div class="col-md-5 offset-4">
		<button type="submit" class="btn btn-primary" style="width:150px">@Localizer["Create"]</button>
		<a asp-controller="Items" asp-action="Index" class="btn btn-secondary" style="width:150px">
			@Localizer["Back"]
		</a>
		</div>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}