@model Item
@using CourseProject.DataContext.Repositories
@using Microsoft.EntityFrameworkCore
@inject IUnitOfWork _unitOfWork
@inject UserManager<ApplicationUser> UserManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/dark-theme.css" />
</head>

@if (!User.Identity.IsAuthenticated)
{
    <form method="get" asp-action="Get" asp-controller="Items">
    <div style="padding: 10px;"></div>
        <div class="row">
            <center>
                <div class="center row-cols-0 col-md-4 text-center">
                    <div class="col" style="padding: 10px;">
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Name: @Model.Name</li>
                                <li class="list-group-item">Tags: 
                                @foreach(var tag in await _unitOfWork.Tags.GetTagsForParticularItem(Model))
                                {
                                    @tag.Name<a>,</a>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </form>
    <form method="post" asp-action="AddLike" asp-controller="Items">
        <div class="row">
            <center>
                <div class="center row-cols-0 col-md-4 text-center">
                    <div class="form-outline mb-4">
                        <button type="submit" class="btn btn-primary" style="width:150px">
                        <i class="bi bi-heart-fill"></i> Like: @Model.Likes</button>                  
                    </div>
                </div>
            </center>
        </div>
    </form>
    <form method="post" asp-action="AddComment" asp-controller="Items">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                    <div class="card-body">
                        <div class="form-outline mb-4"> 
                            <label asp-for="Name"></label>
    		                <input asp-for="Name" class="form-control" value="" placeholder="Type comment..."/>
    		                <span asp-validation-for="Name" class="text-danger"></span>
                            <button type="submit" class="btn btn-primary" style="width:150px">Add comment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form method="post" asp-action="DeleteComment" asp-controller="Items">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6">
                 <div class="card shadow-0 border" style="background-color: #f0f2f5">
                     <div class="card-body p-4">
                        @foreach(var comment in await _unitOfWork.Comments.GetCommentsForParticularItem(Model))
                        {
                            @if (User.IsInRole("Admin") || User.Identity.Name == comment.User.UserName)
                            {
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <p style="margin-top: 15px; margin-left: 20px;">
                                            @comment.Text
                                        </p>
                                        <div class="text-end">
                                            <input asp-for="@comment.CommentId" hidden />
                                            <span asp-validation-for="@comment.CommentId"></span>
                                            <button type="submit" class="btn btn-danger" value="@comment.CommentId" name="id" id="id"
                                                style="width:100px; margin-bottom: -25px; margin-right: 0px;">
                                                Delete
                                            </button>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <p class="small mb-0 ms-2">@comment.User.UserName</p>
                                                <p class="small mb-0 ms-2"> - @comment.CreatedDate</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    @foreach(var user in await _unitOfWork.Users.GetParticularUser(TempData["userId"].ToString()))
    {
        @if(user.Theme == "White")
        {
            <form method="get" asp-action="Get" asp-controller="Items">
            <div style="padding: 10px;"></div>
                <div class="row">
                    <center>
                        <div class="center row-cols-0 col-md-4 text-center">
                            <div class="col" style="padding: 10px;">
                                <div class="card">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Name: @Model.Name</li>
                                        <li class="list-group-item">Tags: 
                                        @foreach(var tag in await _unitOfWork.Tags.GetTagsForParticularItem(Model))
                                        {
                                            @tag.Name<a>,</a>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </center>
                </div>
            </form>
            <form method="post" asp-action="AddLike" asp-controller="Items">
                <div class="row">
                    <center>
                        <div class="center row-cols-0 col-md-4 text-center">
                            <div class="form-outline mb-4">
                                <button type="submit" class="btn btn-primary" style="width:150px">
                                <i class="bi bi-heart-fill"></i> Like: @Model.Likes</button>                  
                            </div>
                        </div>
                    </center>
                </div>
            </form>
            <form method="post" asp-action="AddComment" asp-controller="Items">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-lg-6">
                        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                            <div class="card-body">
                                <div class="form-outline mb-4"> 
                                    <label asp-for="Name"></label>
            		                <input asp-for="Name" class="form-control" value="" placeholder="Type comment..."/>
            		                <span asp-validation-for="Name" class="text-danger"></span>
                                    <button type="submit" class="btn btn-primary" style="width:150px">Add comment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form method="post" asp-action="DeleteComment" asp-controller="Items">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-lg-6">
                         <div class="card shadow-0 border" style="background-color: #f0f2f5">
                             <div class="card-body p-4">
                                @foreach(var comment in await _unitOfWork.Comments.GetCommentsForParticularItem(Model))
                                {
                                    @if (User.IsInRole("Admin") || User.Identity.Name == comment.User.UserName)
                                    {
                                        <div class="card mb-4">
                                            <div class="card-body">
                                                <p>
                                                    @comment.Text
                                                </p>
                                                <div class="text-end">
                                                    <input asp-for="@comment.CommentId" hidden />
                                                    <span asp-validation-for="@comment.CommentId"></span>
                                                    <button type="submit" class="btn btn-danger" value="@comment.CommentId" name="id" id="id"
                                                        style="width:100px;">
                                                        Delete
                                                    </button>
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <p class="small mb-0 ms-2">@comment.User.UserName</p>
                                                        <p class="small mb-0 ms-2"> - @comment.CreatedDate</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        }
        else
        {
            <form method="get" asp-action="Get" asp-controller="Items">
            <div style="padding: 10px;"></div>
                <div class="row">
                    <center>
                        <div class="center row-cols-0 col-md-4 text-center">
                            <div class="col__dark-theme" style="padding: 10px;">
                                <div class="card__dark-theme">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item__dark-theme">Name: @Model.Name</li>
                                        <li class="list-group-item__dark-theme">Tags: 
                                        @foreach(var tag in await _unitOfWork.Tags.GetTagsForParticularItem(Model))
                                        {
                                            @tag.Name<a>,</a>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </center>
                </div>
            </form>
            <form method="post" asp-action="AddLike" asp-controller="Items">
                <div class="row">
                    <center>
                        <div class="center row-cols-0 col-md-4 text-center">
                            <div class="form-outline mb-4">
                                <button type="submit" class="btn btn-primary" style="width:150px">
                                <i class="bi bi-heart-fill"></i> Like: @Model.Likes</button>                  
                            </div>
                        </div>
                    </center>
                </div>
            </form>
            <form method="post" asp-action="AddComment" asp-controller="Items">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-lg-6">
                        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                            <div class="card-body__dark-theme ">
                                <div class="form-outline mb-4"> 
                                    <label asp-for="Name"></label>
            		                <input asp-for="Name" class="form-control" value="" placeholder="Type comment..."/>
            		                <span asp-validation-for="Name" class="text-danger"></span>
                                    <button type="submit" class="btn btn-primary" style="width:150px">Add comment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form method="post" asp-action="DeleteComment" asp-controller="Items">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-lg-6">
                         <div class="card shadow-0 border" style="background-color: #303030 !important">
                             <div class="card-body">
                                @foreach(var comment in await _unitOfWork.Comments.GetCommentsForParticularItem(Model))
                                {
                                    @if (User.IsInRole("Admin") || User.Identity.Name == comment.User.UserName)
                                    {
                                        <div class="card mb-4">
                                            <div class="card-body__dark-theme-comment">
                                                <p style="margin-top: 15px; margin-left: 20px;">
                                                    @comment.Text
                                                </p>
                                                <div class="text-end">
                                                    <input asp-for="@comment.CommentId" hidden />
                                                    <span asp-validation-for="@comment.CommentId"></span>
                                                    <button type="submit" class="btn btn-danger" value="@comment.CommentId" name="id" id="id"
                                                        style="width:100px; margin-bottom: -25px; margin-right: 0px;">
                                                        Delete
                                                    </button>
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <p class="small mb-0 ms-2">@comment.User.UserName</p>
                                                        <p class="small mb-0 ms-2"> - @comment.CreatedDate</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        }
    }
}

@section Scripts{
	@{
    <partial name="_ValidationScriptsPartial" />
	}
}